/* ./src/index.css */
/* Normal Font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Welcome Page write */
/* https://fonts.google.com/specimen/Sedgwick+Ave+Display?query=Sedgwick+Ave+Display&preview.text=Robert%20Downey&preview.text_type=custom */
/* 
@layer components {
  .header_title {
    font-family: "Sedgwick Ave Display", cursive;
  }
} */
@layer components {
  .code_title {
    font-family: "Source Code Pro", monospace;
  }
}

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
  }
}
